<!-- About Chitter page-->
<!DOCTYPE html>
<html>
  <head>
    <title>About Chitter</title>
  </head>
  <body>
    <h1>About Chitter</h1>
    <p>Chitter is a platform for sharing quick updates and thoughts with the world. Users can sign up, login, post peeps, and view a public stream of all peeps. Happy peeping!</p>
    <a href="/">Home</a>
    <a href="/account">My Account</a>
    <a href="/peeps">View All Peeps</a>
    <a href="/peeps/new">Create a New Peep</a>
    <a href="/logout">Logout</a>
    <a href="/account/update">Update Account Details</a>
  </body>
</html>
