<html>
  <head></head>
  <body>
    <h1>Yeah..You have created a Chitter account!</h1>
    <br>
    <p><a href="/index">Back to home</a></p>
    <br>
    <p><a href= "/peeps"> View all peeps</a></p>
    <br>
    <p><a href= "/about"> About Chitter</a></p>
    <br>
    <p><a href= "/peep"> Create a peep</a></p>
    <br>
    <p><a href= "/logout"> Log out</a></p>
    <br/>
  </body>
</html>
