<html>
  <head></head>
  <body>
    <h1>Add a New Peep</h1>
    <form method="POST" action="/log_in/create_peep">
      <p><label>Content: </label> <input type="text" name="message" required placeholder="Enter your peep"></p>
      <p><input type="submit" value="Post"/></p>
    </form>
  </body>
</html>
