<html>
  <head></head>
  <body>
    <h1>Peep from: <%= @name %> (@<%= @username %>)</h1>
    <p><%= @message %></p>
    <p><%= @timestamp %></p>
    <p><a href="/">Back to home</a></p>
     <br>
    <!-- links, home, logout, about, views all peep, account-->
    <!-- redirect to /peeps page after sucessully posted pop up-->
    <br/>
  </body>
</html>
